body{
    background-color: blueviolet;
     font-family: "Momo Signature", cursive;
}
h1{
    color: black;
    text-align: center;
    background-color: yellow;

}
input{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display:block;
}

