html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.lottieBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* behind everything */
  display: flex;           /* use flex to control alignment */
  justify-content: flex-start;  /* horizontal alignment */
  align-items: flex-start;      /* vertical alignment: top */
}


